/target/
logfile.log
logfile.log.*

/target/*
/target/classes/*
/target/classes/test/*
/target/classes/domain/*
/target/classes/interf/*
*.orig
/src/main/java/impl/*.orig
/src/main/java/interf/*.orig
/src/main/java/test/*.orig
